#require File.join(File.dirname(__FILE__), 'config', 'development_env')

# https://github.com/netzpirat/guard-coffeescript
guard 'coffeescript', :input => 'assets/coffee', :output => 'public/js'

# https://github.com/guard/guard-sass
guard 'sass', :all_on_start => true, 
              #:load_paths => [ ENV['SASS_IMPORT_PATH'] ],
              :compass => true,
              :output => "public/css" do
  watch(%r{^assets/sass/.+\.s[ac]ss$})
end

# https://github.com/wireframe/guard-jslint-on-rails
#guard 'jslint-on-rails' do
#  # watch for changes to application javascript files
#  watch(%r{^assets/js/.*\.js$})
#  # watch for changes to the JSLint configuration
#  watch('config/jslint.yml')
#end

# https://github.com/guard/guard-jammit
guard :jammit, :package_on_start => true,
               :output_folder => "public/js"  do
  watch(%r{^assets/js/(.*)\.js$})
end

